# -----------------------------------------------------
# IGNORE EVERYTHING
# -----------------------------------------------------
*

# -----------------------------------------------------
# ALLOW DIRECTORIES (so we can walk into subfolders)
# -----------------------------------------------------
!*/

# -----------------------------------------------------
# ALLOW SPECIFIC FILE TYPES
# -----------------------------------------------------
!*.yml
!*.yaml
!.gitignore
!.env          # <--- ADD THIS LINE TO ALLOW .env FILES

